:root {
    --blue-bg-colour: rgb(12, 16, 39);
    --lightBlue: rgb(19, 26, 66);
    --white-Font: rgb(255, 255, 255);
    --paleWhite-Font: rgb(180, 199, 127);
    color: white;
}


/* body background */

body {
    background-color: var(--blue-bg-colour);
    margin-right: 2rem;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin-bottom: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Header */

.nav {
    position: sticky;
}

.navbar {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: baseline;
    margin-top: 30px;
    margin-left: 30px;
}

.navbar li {
    display: inline;
    margin: 10px;
    margin-left: 25px;
    font-size: 1.2rem;
}

#favorites {
    padding: 2px;
}

.right-nav {
    position: absolute;
    right: 0;
    margin-right: 20px;
    display: flex;
    justify-content: baseline;
}

#searchKey {
    border: 0;
    border-radius: 10px;
    height: 1.3rem;
    width: 14rem;
    background-color: var(--lightBlue);
    padding: 4px;
}

.mainLogo>img {
    border-radius: 0;
    width: 123px;
    height: 93px;
    margin-top: -31px;
    /* filter: invert(); */
}

#notificationIcon>img {
    width: 30px;
    height: 35px;
    filter: invert();
    margin-top: -5px;
}

#sideImage>img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: -5px;
}


/* New Music banner */

#comingSoon {
    width: 60vw;
    display: flex;
}

#comingSoon>img {
    /* width: 529px; */
    /* height: 275px; */
    width: 85%;
    /*More responsive*/
    height: 30%;
    box-shadow: turquoise 5 5;
    margin: auto;
    justify-content: center;
    box-shadow: 0 0px 2px 2px rgba(63, 146, 146, 0.1);
    object-fit: cover;
}

.container {
    display: inline-block;
}


/* QUEUE Styling */

#queueList {
    float: right;
    margin: auto;
    width: 30vw;
}

#queueList>h2 {
    text-align: left;
    margin: auto;
    display: inline;
}

#queueList>h4 {
    display: inline;
    position: absolute;
    margin-top: 4px;
    right: 4rem;
    color: rgb(72, 228, 212);
    font-size: 0.8rem;
}

.playListCard {
    margin: 0.9rem;
    /* display: flex; */
    align-items: flex-start;
    padding: 0.5rem;
}

.smallImgCard {
    width: 2rem;
    height: 2rem;
    margin-left: 0.3rem;
    border: 1px solid rgb(13, 55, 117);
    object-fit: cover;
}

.singerName {
    color: var(--Palewhite-Font);
    font-size: 0.7rem;
    text-align: left;
    position: relative;
    left: 5rem;
    top: -1rem;
}

.songName {
    margin-left: 1rem;
    position: relative;
    top: -1rem;
}


/* Latest releases section */

.latestReleases {
    display: grid;
    grid-template-columns: 2.5fr 2.5fr;
    grid-template-rows: 4.5rem 4.5rem;
    /* grid-template-columns: 17rem 17rem;
    grid-template-rows: 5rem 5rem; */
    grid-gap: 0.5rem;
    margin-left: 1rem;
}

.songBox {
    grid-area: auto;
    overflow: hidden;
    font-size: 90%;
}

.biggerCard {
    width: 5rem;
    height: 5rem;
    float: left;
}

.songBox h3 {
    margin-top: 0rem;
}

.meatBallMenu {
    float: right;
    height: 2.8rem;
    width: 3.5rem;
    position: relative;
    top: -4.2rem;
    filter: invert();
}


/*Genre Banners*/

.genrebanner {
    display: grid;
    margin-top: 3rem;
    margin-left: 3rem;
    grid-template-columns: repeat(3, 0.4fr);
    grid-gap: 5px;
}

.banner {
    border: 1px solid black;
    height: 10rem;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

#banner1 {
    background-image: url(images/genre1.jpg);
}

#banner2 {
    background-image: url(images/genre1.jpg);
}

#banner3 {
    background-image: url(images/genre1.jpg);
    background-size: cover;
}


/* Hover effect on banner */

.banner:hover {
    content: "";
    height: 110%;
    width: 110%;
    z-index: 3;
    transition: 100ms;
    font-size: 1.2rem;
}


/* Artists*/

.popularArtists {
    display: flex;
}

.Artistname {
    position: relative;
    left: 3rem;
}

.artistDetails {
    width: fit-content;
    margin: auto;
    display: inline;
}

.artistDetails>img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-left: 1rem;
}


/* Footer */

.foot>audio {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -0.5rem;
    margin-bottom: 0;
    background-color: #F1F3F4;
}


/*Utility classes*/

.centerText {
    text-align: center;
}

.black {
    color: black;
}

.middle {
    line-height: 8rem;
    text-align: center;
}


/*Responsive design */

@media only screen and (max-width:1100px) {
    #queueList {
        display: block;
        width: fit-content;
        float: left;
        margin: auto;
        z-index: -1;
    }
    #favorites {
        display: none;
    }
    #searchKey {
        display: none;
    }
    .nav {}
}